.wrapper {
  min-height: 100vh;
  background: #000;
  color: rgba(255, 255, 255, 0.858);
}

/* to change bootstrap property we need to write important */
.table,
tr,
th,
td {
  background: transparent !important;
  color: white !important;
}

.income {
  color: yellowgreen !important;
}

.expenses {
  color: red !important;
}

/* Mobile Rresponsive */
@media (max-width: 700px) {
  .chart-item {
    width: 100% !important;
    max-width: 100% !important;
  }
}

.navbar {
  background: linear-gradient(45deg, #ff416d7a, #ff4b2bb0);
  animation: gradientAnimation 6s infinite alternate;
}

@keyframes gradientAnimation {
  0% {
    background: linear-gradient(45deg, #ff416daf, #ff4b2bc4);
  }
  100% {
    background: linear-gradient(45deg, #ff4b2bcb, #ff416ddc);
  }
}
